@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Roboto:100');

$primary-font:          'Roboto Slab', serif;
$primary-font-weight:   400;

$secondary-font:        'Roboto', sans-serif;
$secondary-font-weight: 100;

$blue:                  #0288D1;
$opaque-grey:           rgba(255, 255, 255, 0.3);
$solid-grey:            rgba(97, 97, 97, 0.9);

// Mixins
// -------------------------

  // Center an element's contents both vertically and horizontally
  @mixin center() {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;
  }

  @mixin circle($radius) {
    width: $radius * 2;
    height: $radius * 2;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }