@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Roboto:100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,200');

$primary-font:          'Open Sans', sans-serif;
$primary-font-weight:   300;

$secondary-font:        'Open Sans', sans-serif;
$secondary-font-weight: 200;

$red:                   #FE57A1;
$blue:                  #26C6DA;
$green:                 #339966;
$eggplant:              #1B1B24;
$light-eggplant:        lighten($eggplant, 10%);
$opaque-grey:           rgba(255, 255, 255, 0.3);
$solid-grey:            rgba(97, 97, 97, 0.9);

// Mixins
// -------------------------

  // Center an element's contents both vertically and horizontally
  @mixin center() {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;
  }

  @mixin circle($radius) {
    width: $radius * 2;
    height: $radius * 2;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }