@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('http://fonts.googleapis.com/css?family=Roboto:100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,200');

$primary-font:          'Open Sans', sans-serif;
$primary-font-weight:   300;

$secondary-font:        'Open Sans', sans-serif;
$secondary-font-weight: 200;

$blue:                  #26C6DA;
$light-grey:            #fff;
$grey:                  #888;
$dark-grey:             #777;
$darker-grey:           #444;

// Mixins
// -------------------------

  // Center an element's contents both vertically and horizontally
  @mixin center() {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    align-items: center;
    -webkit-align-items: center;

    justify-content: center;
    -webkit-justify-content: center;
  }

  @mixin circle($radius) {
    width: $radius * 2;
    height: $radius * 2;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }