@import 'variables';

// General styles
// -------------------------

  * {
    margin: 0px;
    padding: 0px;
    cursor: default;
    font-family: inherit;
    font-weight: inherit;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;

    font-family: $primary-font;
    font-weight: $primary-font-weight;

    display: flex;
    flex-flow: column;

    background-color: $light-grey;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  p {
    font-family: $secondary-font;
    font-weight: $secondary-font-weight;

    color: $darker-grey;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    line-height: 2;
    text-align: center;
  }

  ul {
    list-style: none;
    list-style-type: none;
  }

  h1 {
    font-size: 600%;
  }

  h2 {
    font-size: 500%;
  }

  h3 {
    font-size: 400%;
  }

  h4 {
    font-size: 300%;
  }

  h5 {
    font-size: 200%;
  }

  .clickable {
    cursor: pointer;
  }

  .container {
    border-radius: 5px;
    padding: 20px;
  }

  .tooltip {
    font-size: 0.8em;
    letter-spacing: 1px;
    position: absolute;
    color: white;

    padding: 5px 10px;

    background-color: $dark-grey;

    visibility: hidden;
    opacity: 0;

    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;

    &::after {
      position: absolute;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 10px;
      border-color: transparent;
      border-top-color: $dark-grey;
      content: '';
      pointer-events: none;
      top: 99%;
    }
  }

// Header
// -------------------------

  header {
    @include center();
    margin-top: 30px;
    margin-bottom: 30px;

    h1 {
      color: $dark-grey;
    }

    h2, h3, h4, h5 {
      color: $blue;
    }
  }

// Main Content
// -------------------------
  .main {
    @include center();
    flex: 2;
  }

  .blurb {
    flex-direction: column;

    &.container {
      max-width: 55%;
    }

    a {
      color: $blue;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }

// Icons
// -------------------------
  .icons {
    @include center();
    flex-direction: row;

    position: relative;

    padding: 25px;
    margin: 0 auto;

    .icon {
      position: relative;

      padding: 0px 10px;

      .circle {
        position: relative;

        @include circle(26px);
        @include center();
        cursor: pointer;

        background-color: $blue;

        i {
          color: white;
          cursor: inherit;
        }

        &:hover {
          background-color: lighten($blue, 20%);
        }
      }
    }

    .tooltip {
      margin-top: -40%;
      background-color: $grey;
      color: white;

      transition: transform 0.3s ease, background-color 0.3s ease;

      &::after {
        border-top-color: $grey;
      }
    }
  }

@import 'mobile';
