---
import { Button, Pill } from '@eliancodes/brutal-ui';
import SummaryCard from '@src/components/generic/SummaryCard.astro';
import type { Post } from '@src/gql/graphql';

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<SummaryCard
  title={post.title!}
  imgAlt={post.title!}
  imgSrc={post.mainImage!.asset!.url!}
  description={post.description!}
>
  <div class="flex justify-end my-4">
    <Button href={`/blog/${post.slug!.current}/`}>Read post &rarr;</Button>
  </div>

  <div class="hidden sm:inline-block">
    <p class="poppins mt-2">tags:</p>
    <div class="flex justify-between items-center">
      <ul class="flex gap-4 mt-2">
        {
          post.tags?.map((tag) => (
            <li>
              <a class="sanchez" href={`/blog/tags/${tag?.name?.toLowerCase()}/`}>
                <Pill>{tag?.name}</Pill>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</SummaryCard>
