//- No photo photos are given in 111x148
//- We need them in about 161x215
script(id='bookTemplate', type='text/x-jsrender')
  div.book
    a(href='{{:link}}', target='_blank')
      img(src='{{:image_url}}', height='215')