//- anime images come in 225 width by 310 height
//- need to scale down to 155 width by 215 height
script(id='showTemplate', type='text/x-jsrender')
  div.show
    a(href='{{:link}}', target='_blank')
      img(src='{{:image_url}}', width='155', height='215')