doctype html
html(lang='en')
  include ./partials/head.jade

body
  div.main
    div.avatar
      img(src="./img/avatar.jpg")

    h1 Michelle D. Zhang
    div.container
      p.
        I'm Michelle, a recent graduate from Barnard College at Columbia University in New York City.
        I'm also a full stack software engineer at <a href="//abacus.com" target="_blank">Abacus</a>, an expense management startup.

    include ./partials/icons.jade
  include ./partials/foot.jade