doctype html
html(lang='en')
  include ./partials/head.jade

body
  div.background-layer

  header
    h1 Michelle D. Zhang
    h5 Software Developer

    nav.dots
      ul
        li.current
          div.tooltip Home
          div.dot.tooltip-target
        li
          div.tooltip Activity
          div.dot.tooltip-target
        li
          div.tooltip Contact
          div.dot.tooltip-target

  div.main

    div.blurb
      p.
        I'm Michelle, a recent graduate from Barnard College at Columbia University, NYC. I'm also a full stack software engineer at Abacus, an expense management startup.
      br
      p.
        When I'm not imagining or engineering new things, I enjoy holding or otherwise being in the presence of cats, playing the occasional video game, binge watching my latest picks from the last season of anime, and reading the latest Brandon Sanderson novels on my Kindle.

    div.activity

  include ./partials/icons.jade