doctype html
html(lang='en')
  include ./partials/head.jade

body
  header
    h1 Michelle D. Zhang
    h5 Software Developer

    nav.dots
      ul
        li.current
          div.tooltip Home
          div.dot.tooltip-target(name='Home')
        li
          div.tooltip Activity
          div.dot.tooltip-target(name='Activity')
        li
          div.tooltip Projects
          div.dot.tooltip-target(name='Projects')
        li
          div.tooltip Contact
          div.dot.tooltip-target(name='Contact')

  div.main

    div.container.blurb
      p.
        I'm Michelle, a recent graduate from Barnard College at Columbia University in New York City. I'm also a full stack software engineer at <a href="//abacus.com" target="_blank">Abacus</a>, an expense management startup.
      br
      p.
        When I'm not imagining or engineering new things, I enjoy holding or otherwise being in the presence of cats, playing the occasional video game, binge watching my latest anime picks, and reading Brandon Sanderson novels on my Kindle.

    div.container.activity

      ul.nav
        li.icon
          a.circle.activityNav.selected(name='book')
            i.fa.fa-book

        li.icon
          a.circle.activityNav(name='game')
            i.fa.fa-gamepad

        li.icon
          a.circle.activityNav(name='show')
            i.fa.fa-tv

      div.content
        //- Content dynamically added

    div.container.projects
      p This page is under construction.

  include ./partials/icons.jade

  //- Template scripts
  include ./templates/book.jade
  include ./templates/game.jade
  include ./templates/show.jade
