doctype html
html(lang='en')
  include ./partials/head.jade

body
  header
    h1 Michelle D. Zhang
    h5 Software Developer

  div.main

    div.container.blurb
      p.
        I'm Michelle, a recent graduate from Barnard College at Columbia University in New York City. <br/>
        I'm also a full stack software engineer at <a href="//abacus.com" target="_blank">Abacus</a>, an expense management startup.
      br
      p.
        When I'm not imagining or engineering new things, I enjoy holding or otherwise being in the presence of cats, playing the occasional video game, binge watching my latest anime picks, and reading Brandon Sanderson novels on my Kindle.

  include ./partials/icons.jade