div.footer
  div.footer-content
    div.social-media Find Me On <br/>
    ul
      li.icon-circle
        i.fa.fa-github.fa-lg
    //- div.icon-circle
      i.fa.fa-linkedin.fa-md
    div.copyright &copy; Michelle D. Zhang, 2015