head
  // basic page needs
  meta(charset='utf-8')
  title Michelle D. Zhang
  meta(name='author' content='Michelle D. Zhang')
  meta(name='description', content='Michelle D. Zhang - Personal Site')

  // mobile specific metas
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')

  // css files
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet')
  //- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='../../tmp/css/styles.css')

  // favicons
  link(rel='shortcut icon' href='resources/images/favicons/favicon.ico')

  // google web font
  link(href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css')

  // javascript libraries
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(src='../../public/js/scripts.js')