.tooltip {
  font-size: 0.8em;
  letter-spacing: 1px;
  position: absolute;
  color: white;

  padding: 5px 10px;

  background-color: $dark-grey;

  visibility: hidden;
  opacity: 0;

  text-align: center;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;

  &::after {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-color: transparent;
    border-top-color: $dark-grey;
    content: '';
    pointer-events: none;
    top: 99%;
  }
}