.markdown {
  :not(pre) > code {
    background-color: $lighter-blue;
    border: 1px solid $light-blue;
    border-radius: 3px;
    padding: 0.1rem;
  }

  pre {
    border: 1px solid $light-blue;
    border-radius: 3px;
    overflow-x: auto;
  }

  .highlight {
    background-color: $lighter-blue;
    padding: 1rem;
  }
}
