.signature {
  padding: 30px 0;

  img {
    @include circle(40px);
    float: left;
  }

  .description {
    margin-left: 80px;
    padding-left: 10px;

    h4 {
      margin: 0;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
