* {
  cursor: default;
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $light-grey;
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  height: 100%;
}

header {
  @include center();
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    background-color: $blue;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
}

p {
  color: $darker-grey;
  font-family: $secondary-font;
  font-size: 0.9em;
  font-weight: $secondary-font-weight;
  letter-spacing: 0.5px;
  line-height: 2;
  text-align: center;
}

ul {
  list-style: none;
  list-style-type: none;
}

h1 {
  color: $dark-grey;
  font-size: 6em;
}

h2, h3, h4, h5 {
  color: $blue;
  font-size: 2em;
}

.clickable {
  cursor: pointer;
}

.container {
  @include center();
}

.avatar {
  @include circle(72px);
  margin: 25px;

  img {
    border-radius: 50%;
    height: 100%;
  }
}

.main {
  @include center();
  padding-top: 10vh;

  .container {
    max-width: 750px;
  }
}
