@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $light-grey;
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  color: $darker-grey;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    background-color: $blue;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

h1, h2, h3 {
  color: $blue;
}

h4, h5, h6 {
  color: $darker-grey;
}

.clickable {
  cursor: pointer;
}

.cushion {
  max-width: 750px;
  width: 80%;
}
