@import 'base';

#error {
  @include center();
  padding-top: 10%;

  .status {
    font-size: 8em;
    margin: 0;
  }

  .message {
    letter-spacing: 0.25px;
    line-height: 2;
    text-align: center;
  }
}
