/ facebook open graph
%meta{property: 'og:description', content: "#{data.me.short_description}"}
%meta{property: 'og:image', content: "#{gravatar_url_large}"}
%meta{property: 'og:image:type', content: 'image/jpeg'}
%meta{property: 'og:title', content: "#{data.me.full_name}"}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:url', content: "#{data.application.url}"}