/ facebook open graph
%meta{property: 'og:title', content: 'Michelle D. Zhang'}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:image', content: 'http://mdzhang.com/images/avatar_full.jpg'}
%meta{property: 'og:image:type', content: 'image/jpeg'}
%meta{property: 'og:url', content: 'http://mdzhang.com'}
%meta{property: 'og:description', content: 'Michelle D. Zhang is a recent college grad and full stack software engineer'}