%script{type: 'application/ld+json'}
  :plain
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Michelle D Zhang",
      "description": "Michelle D. Zhang is a recent college grad and full stack software engineer",
      "birthDate": "1993-12-13",
      "email": "zhang.michelle.d@gmail.com",
      "gender": "female",
      "nationality": "American",
      "additionalName": "Michelle",
      "url": "http://mdzhang.com",
      "image": "http://mdzhang.com/img/avatar_full.jpg",
      "jobTitle": "Software Engineer",
      "affiliation": "Blue Apron",
      "sameAs" : [
        "http://github.com/mdzhang",
        "https://twitter.com/michelledzhang",
        "https://plus.google.com/110264345397705195755",
        "https://www.linkedin.com/in/mdzhang"
      ]
    }