/ twitter card
%meta{ property: 'twitter:card', content: 'summary' }
%meta{ property: 'twitter:description', content: data.me.short_description }
%meta{ property: 'twitter:image', content: gravatar_url_med }
%meta{ property: 'twitter:site', content: data.services.twitter.handle }
%meta{ property: 'twitter:title', content: data.me.full_name }
