/ twitter cards
%meta{property: 'twitter:card', content: 'summary'}
%meta{property: 'twitter:site', content: '@michelledzhang'}
%meta{property: 'twitter:title', content: 'Michelle D. Zhang'}
%meta{property: 'twitter:image', content: 'http://mdzhang.com/images/avatar_med.jpg'}
%meta{property: 'twitter:description', content: 'Michelle D. Zhang is a recent college grad and full stack software engineer'}