//
// Variables
// -------------------------

$primary-color:         #0EF9DA;       // turqoise
$placeholder-grey:      #C0C0C0;
$dark-placeholder-grey: #505050;
$background-color:      $dark-placeholder-grey;

$primary-font:          'Helvetica Neue', Arial, Verdana, sans-serif;
$primary-font-weight:   100;

// Banner
// -------------------------
$banner-height:       400px;

// Menubar
// -------------------------
$menubar-height:    46px;

// Main content
// -------------------------
$content-width:     1000px;

// Footer
// -------------------------
$footer-height:    55px; // +20px padding
