// @import url(http://fonts.googleapis.com/css?family=Raleway:100)
@import 'variables';

// Mixins
// -------------------------

  // Center an element's contents both vertically and horizontally
  @mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Have an element fill up their entire parent
  @mixin fill-parent() {
    display: flex;
    height: 100%;
    width: 100%;
  }

  @mixin circle($radius) {
    width: $radius * 2;
    height: $radius * 2;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }

// Animations
// -------------------------

  // slideInFromRight
    .slideInFromRight {
      animation-name: slideInFromRight;
      -webkit-animation-name: slideInFromRight;

      animation-duration: 2s;
      -webkit-animation-duration: 2s;

      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      visibility: visible !important;
    }

    @keyframes slideInFromRight {
      0%  { transform: translateX(250%); }
      70% { transform: translateX(-2%); }
      80% { transform: translateX(2%); }
      88% { transform: translateX(-0.5%); }
      94% { transform: translateX(0.25%); }
      100% { transform: translateX(0%); }
    }

    @-webkit-keyframes slideInFromRight  {
      0%  { -webkit-transform: translateX(350%); }
      40% { -webkit-transform: translateX(-8%); }
      60% { -webkit-transform: translateX(4%); }
      80% { -webkit-transform: translateX(-2%); }
      90% { -webkit-transform: translateX(1%); }
      100% { -webkit-transform: translateX(0%); }
    }

  // slideOutToLeft
    .slideOutToLeft {
      animation-name: slideOutToLeft;
      -webkit-animation-name: slideOutToLeft;

      animation-duration: 2s;
      -webkit-animation-duration: 2s;

      animation-timing-function: ease-in-out;
      -webkit-animation-timing-function: ease-in-out;

      visibility: visible !important;
    }

    @keyframes slideOutToLeft {
      0%  { transform: translateX(0%); }
      100% { transform: translateX(-350%); }
    }

    @-webkit-keyframes slideOutToLeft  {
      0%  { -webkit-transform: translateX(0%); }
      100% { -webkit-transform: translateX(-350%); }
    }

// Generic styles
// -------------------------

  * {
    overflow: auto;
    margin: 0px;
    padding: 0px;
    font-family: inherit;
    font-weight: inherit;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%; // helps with sticky footer

    font-family: $primary-font;
    font-weight: $primary-font-weight;

    display: flex;
    flex-flow: column;
  }

  view {
    flex: 2; // fill up all available space

    display: flex;
    flex-flow: column;
  }

  main {
    flex: 2;
    @include center();

    &.blurb {
      padding: 20px 50px;
    }

    &.contact {
    }
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  ul {
    list-style-type: none;
  }

// Banner/Header
// -------------------------
  header {
    height: $banner-height;
    background-color: $placeholder-grey;

    @include center();
    flex-flow: column wrap;

    h1 {
      font-size: 600%;
    }

    banner-subtitle {
      width: 100%;
      text-align: center;
      min-height: 36px;

      h2 {
        width: auto;
        font-size: 200%;
      }
    }
  }

// Menubar
// -------------------------
  nav {
    height: $menubar-height;
    background-color: $dark-placeholder-grey;

    @include center();

    ul {
      @include fill-parent();
      @include center();
      padding: 0px 50px;

      li {
        @include fill-parent();

        a {
          @include center();
          @include fill-parent();
        }
      }
    }
  }

ul.social-media-icons {
  display: flex;
  padding: 5px 0px;

  li {
    a {
      @include fill-parent();
      @include center();
    }
  }

  .icon-circle {
    @include circle(15px);
    border: 1px solid black;
    font-size: 15px;

    @include center();
    margin: auto 5px;
    text-align: center;

    &:hover {
      border: 1px solid white;
    }
  }
}

// Footer
// -------------------------
  footer {
    height: $footer-height;
    background-color: $placeholder-grey;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 10px;
  }