head
  // basic page needs
  meta(charset='utf-8')
  title Michelle D. Zhang
  meta(name='author' content='Michelle D. Zhang')
  meta(name='description', content='Michelle D. Zhang - Personal Site')

  // mobile specific metas
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')

  // get all necessary scripts and stylesheets (see Gruntfile for contents)
  link(rel='stylesheet' href='./styles.min.css')
  link(rel='stylesheet' href='./bower.css')
  script(src='./scripts.min.js')
  script(src='./bower.js')

  // favicons
  link(rel='shortcut icon' href='resources/images/favicons/favicon.ico')