div(ng-controller="activityCtrl")

  div.activityBanner
    div.bannerContent
      div.title
        h2 What I'm
        div.dynamicTitle
          img.clickable(src="../../images/up_chevron.png", ng-click="previousTitle()")
          h2.dynamicTitle {{ currentTitle }}
          img.clickable(src="../../images/down_chevron.png", ng-click="nextTitle()")

  main.activity

    //- What I'm Reading
    div.book(ng-repeat="book in books", ng-show="isCurrentTitle('Watching')")
      img(ng-src="{{ book.image_url }}")
      div.info
        h4.title {{ book.title }}
        div.author {{ book.author.name }}
        a.more(href="{{ book.link }}")
          img(src="../../images/goodreads_badge.png")

    //- What I'm Watching

    //- What I'm Playing
