include ../partials/banner.jade

main.contact
  ul.social-media-icons.lg
    li.icon-circle.clickable
      a: i.fa.fa-github.fa-2x
    li.icon-circle.clickable
      a: i.fa.fa-linkedin.fa-lg
    li.icon-circle.clickable
      a: i.fa.fa-file-pdf-o.fa-lg
    li.icon-circle.clickable
      a: i.fa.fa-envelope.fa-lg