include ../partials/banner.jade

menubar

main.contact
  ul.social-media-icons
    li.icon-circle.clickable
      a: i.fa.fa-github.fa-lg
    li.icon-circle.clickable
      a: i.fa.fa-linkedin.fa-md
    li.icon-circle.clickable
      a: i.fa.fa-file-pdf-o.fa-md
    li.icon-circle.clickable
      a: i.fa.fa-envelope.fa-md