@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?mdq7ce');
  src: url('/fonts/icomoon.eot?mdq7ce#iefix') format('embedded-opentype'),
       url('/fonts/icomoon.ttf?mdq7ce') format('truetype'),
       url('/fonts/icomoon.woff?mdq7ce') format('woff'),
       url('/fonts/icomoon.svg?mdq7ce#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
  // scss-lint:disable ImportantRule

  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important;
  // Better Font Rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-file-text-o::before {
  content: '\e903';
}

.icon-linkedin::before {
  content: '\e900';
}

.icon-envelope-o::before {
  content: '\e901';
}

.icon-github-alt::before {
  content: '\e902';
}

.icons {
  @include center();
  @include clear-list-style();
  flex-direction: row;
  padding: 50px 0 25px 0;
  position: relative;

  .icon {
    padding: 0 10px;
    position: relative;

    .circle {
      @include circle(26px);
      @include center();

      background-color: $blue;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease;

      span {
        color: $light-grey;
        cursor: inherit;
        font-size: 21px;
      }

      &:hover {
        background-color: lighten($blue, 20%);
      }
    }
  }
}
