@media all and (max-width: 800px) {
  html {
    height: auto;
  }

  main#index {
    padding: 5vh 0;

    .bio {
      margin: 25px 0;
    }
  }
}

@media all and (max-width: 480px) {
  main#index {
    .name {
      font-size: 2.5em;
    }
  }
}

@media all and (max-width: 800px) and (min-width: 480px) {
  main#index {
    .name {
      font-size: 3em;
    }
  }
}
