---
import Layout from '@src/layouts/Default.astro';
import BlogList from '@src/components/blog/BlogList.astro';

import { getPosts } from '@src/lib/api';

const posts = await getPosts();
---

<Layout title="Blog" description="Blog | Thoughts on things" pageTitle="Blog">
  <main class="bg-green p-6">
    <BlogList posts={posts} />
  </main>
</Layout>
