---
import Layout from '@src/layouts/Default.astro';
import BlogList from '@src/components/blog/BlogList.astro';
import { Button } from '@eliancodes/brutal-ui';
import { getPosts } from '@src/lib/api';
import type { Post } from '@src/gql/graphql';

export async function getStaticPaths() {
  const posts = await getPosts();

  const tags: string[] = [];

  posts.forEach((post) => {
    (post.tags ?? []).forEach((tag) => {
      tags.push(tag!.name!.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts.filter((post) => (post.tags ?? []).map((t) => t?.name?.toLowerCase()).includes(tag)),
    },
  }));
}

interface Props {
  tag: string;
  posts: Post[];
}

const { tag, posts } = Astro.props;
---

<Layout
  title={`Blog: ${tag}`}
  description={`Blog | All posts tagged with ${tag}`}
  pageTitle={`Blog | Posts tagged with ${tag}`}
>
  <main class="p-6 bg-purple grid gap-4">
    <div>
      <Button href="/blog/">&larr; Back to blog</Button>
    </div>
    <BlogList posts={posts} />
  </main>
</Layout>
