$md-colors-warn-md: false;
$md-light-theme: false;

$hybrid-light-grey: #c5c8c6;
$hybrid-grey: #373b41;
$hybrid-dark-grey: #373b41;
$hybrid-darker-grey: #282a2e;

$hybrid-light-blue: #5f819d;
$hybrid-blue: #81a2be;
$hybrid-dark-blue: #5f819d;

$hybrid-light-green: #b5bd68;

$hybrid-light-orange: #f0c674;
$hybrid-dark-orange: #de935f;
$hybrid-light-purple: #b294bb;

$md-primary-color: $hybrid-darker-grey;
$md-secondary-color: $hybrid-blue;
$md-tertiary-color: $hybrid-darker-grey;

$md-dark-theme-background-color: $md-primary-color;
$md-dark-theme-app-bar-color: $md-primary-color;
$md-primary-background-text-color: $md-secondary-color;
$md-dark-theme-text-color: $hybrid-light-orange;
$md-dark-theme-secondary-text-color: $hybrid-blue;
$md-dark-theme-icon-text-color: $hybrid-blue;
$md-dark-theme-card-color: $hybrid-dark-grey;
$md-chip-dark-theme-bg-color: $hybrid-light-orange;
$md-chip-dark-theme-color: $hybrid-darker-grey;

body {
    color: $hybrid-light-orange;
}

.main-container,
.darker-background {
    background-color: $hybrid-darker-grey;
}

a {
    color: $hybrid-light-blue;
    text-decoration: none;
}

a:visited {
  color: $hybrid-light-purple;
}
