.main
  .avatar
    %img{ src: gravatar_url_small }

  %h1= data.me.full_name
  .container
    = partial '/partials/bio'

  = partial '/partials/icons'

  / scripts
  %script{ async: true, src: '/javascripts/all.js' }
