.main
  .avatar
    %img{src: '/assets/images/avatar.jpg'}

  %h1 Michelle D. Zhang
  .container
    %p
      I'm Michelle, a recent graduate from Barnard College at Columbia University in New York City.
      I'm also a software engineer at&nbsp
      %a{href: '//blueapron.com', target: '_blank'}> Blue Apron
      , a meal-kit delivery startup.

  = partial '/partials/icons'