ul.icons
  li.icon
    div.tooltip Email
    a.circle.tooltip-target(href='mailto:zhang.michelle.d@gmail.com', target='_blank')
      i.fa.fa-envelope-o.fa-lg

  li.icon
    div.tooltip Github
    a.circle.tooltip-target(href='http://github.com/mdzhang', target='_blank')
      i.fa.fa-github-alt.fa-lg

  li.icon
    div.tooltip LinkedIn
    a.circle.tooltip-target(href='http://www.linkedin.com/in/mdzhang', target='_blank')
      i.fa.fa-linkedin.fa-lg

  li.icon
    div.tooltip Resume
    a.circle.tooltip-target(href='./files/MichelleZhangResume.pdf', target='_blank')
      i.fa.fa-file-text-o.fa-lg